*{
    margin:0;
    padding: 0;;
}

.input-container{
    margin: 20px;
   display: flex;
   flex-flow: column wrap;
  
    gap:10px;
    justify-content: center;
    align-items: center;
}

.input-container > input, .input-container > button {
  
    padding: 10px;
    border-radius: 4px;
}
input{
    width:1000px;
    size: 24px;
}
.input-container > button{
    background-color: dodgerblue;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    width:1000px;
    border: none;
    height: 50px;
    font-size: 24px;
}
.input-container > button:hover{
    background-color: blue;
}
.input-container > input:focus{
    outline: none;
}
h2{
   color:red;
}
.Todo-Item >b, .Todo-Item >span{
font-size: 24px;
}
.Todo-container{
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(238, 196, 118);
   
}

.Todo-Item{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: .2s;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}